:root{
    --main-color:#389ED8;
    --main-transition:0.5s;
    --second-color:#0073b9;
    --btn-back:#0074b7;
    --clients:#000000  #009FDB;
    --four-color:#4ed800;
    --dark-color:#1728fa;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'cai' !important;

 background-color: #1728fa !important;
}
.our-nav{
    padding-bottom: 15px;
}
.article{
    text-align: center;
    margin-top: 50px;
}
.article h2{
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
.article .article-content{
    padding-bottom: 150px;
}
.article .article-content p ,.article .article-content h4{
    color: white;
    line-height: 47px;
    margin-top: 7px;
    font-size: 24px;
    text-align: end;
    word-spacing: 3.1999999999999993px;
}
/* ******************************    mobile style                  ************************************************* */
@media (max-width:1100px) {
    .article .article-content p, .article .article-content h4 {
        font-size: 17px;
    
    }
}